<h1>CENTRO MEDICO VETERINARIO BACKEND</h1>
<h2>LISTADO DE MASCOTAS</h2>
<table>
    <thead>
        <tr>
            <th>Nombre de la mascota</th>
            <th>Nombre del dueño</th>
            <th>Cédula del dueño</th>
            <th>Edad de la mascota</th>
            <th>Teléfono del dueño</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each mascotas}}
        <tr>
            <form action="/mascotas/actualizar/{{cedula_duenio}}" method="post">
                <td><input id="mascota" name="mascota" value="{{nombre}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input id="duenio" name="duenio" value="{{nombre_duenio}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}>
                </td>
                <td><input id="prueba" value="{{cedula_duenio}}" disabled></td>
                <td><input id="edad" name="edad" value="{{edad}}" {{#ifCond @key '!=' ../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td><input id="telefono" name="telefono" value="{{telefono_duenio}}" {{#ifCond @key '!='../claveSeleccionada}}{{../opcion}}{{/ifCond}}></td>
                <td>
                {{#if ../estado}}
                    <a href="mascotas/eliminar/{{cedula_duenio}}">Eliminar</a><br><br>
                    <a href="mascotas/enviar/{{@key}}">Actualizar</a>
                {{else}}
                    {{#ifCond @key '==' ../claveSeleccionada}}
                    <input type="submit" value="Enviar">
                    
                    {{/ifCond}}
                {{/if}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>
<a class="volver" href="/">Volver</a>
<a href="mascotas/agregar-mascota">Agregar mascota</a>